{% extends "_base.html.twig" %}

{% block title %}
	{{ app_name }}
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row p-4 pb-0 pt-lg-5 p-lg-5 align-items-center rounded-3 border shadow-lg">
			<div class="text-center">
				<div class="d-block mx-auto align-items-center">
					<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="75" height="75" viewbox="0 0 200 200" id="logo" aria-hidden="true">
						<g style="fill:#fff;fill-opacity:.99645"><rect width="181.486" height="180.489" x="13.005" y="-.823" fill="#00f" fill-opacity=".75" fill-rule="evenodd" ry="37.985" style="fill:#fff;fill-opacity:.99645;stroke:none;stroke-width:11.2855;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" transform="matrix(1.10201 0 0 1.1081 -14.332 .912)"/></g>
						<g style="fill:#212529;fill-opacity:1;stroke:none"><path d="M-57.29 68.508h-50a12.5 12.5 0 0 0-12.5 12.5v75a12.5 12.5 0 0 0 12.5 12.5h50a12.5 12.5 0 0 0 12.5-12.5v-75a12.5 12.5 0 0 0-12.5-12.5zm-56.25 12.5a6.25 6.25 0 0 1 6.25-6.25h50a6.25 6.25 0 0 1 6.25 6.25v50l-13.018-13.019a3.125 3.125 0 0 0-4.75.394l-13.482 18.875-13.53-8.125a3.125 3.125 0 0 0-3.82.475l-13.9 13.9z" style="fill:#212529;fill-opacity:1;stroke:none;stroke-width:6.25" transform="matrix(1.07266 0 0 1.07266 -126.527 -32.662)"/><g style="fill:#212529;fill-opacity:1;stroke:none"><path d="M-27.04 100.42a6.25 6.25 0 0 1 6.25-6.25h6.25a6.25 6.25 0 0 1 6.25 6.25v5.863l2.5 9.993a6.25 6.25 0 0 1-2.6 6.713l-5.812 3.875a6.25 6.25 0 0 1-6.938 0l-5.806-3.875a6.25 6.25 0 0 1-2.594-6.713l2.5-9.993zm12.5 0h-6.25v5.863a6.25 6.25 0 0 1-.187 1.518l-2.5 9.988 5.812 3.875 5.806-3.875-2.5-9.988a6.25 6.25 0 0 1-.181-1.518zM-11.415 59.795v6.25h-6.25v6.25h6.25v6.25h-6.25v6.25h6.25v6.25h-9.375v-6.25h-6.25v-6.25h6.25v-6.25h-6.25v-6.25h6.25v-6.25h9.375z" style="fill:#212529;fill-opacity:1;stroke:none;stroke-width:6.25" transform="matrix(.77473 0 0 .77473 -211.141 .935)"/></g><path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641Z" style="fill:#212529;fill-opacity:1;stroke:none;stroke-width:.169278;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" transform="matrix(6.34663 0 0 6.34663 185.948 5.691)"/></g><path d="M62.582 0v6.25h-6.25v6.25h6.25v6.25h-6.25V25h6.25v6.25h-9.375V25h-6.25v-6.25h6.25V12.5h-6.25V6.25h6.25V0h9.375zM46.957 65.625a6.25 6.25 0 0 1 6.25-6.25h6.25a6.25 6.25 0 0 1 6.25 6.25v5.862l2.5 9.994a6.25 6.25 0 0 1-2.6 6.713l-5.812 3.875a6.25 6.25 0 0 1-6.938 0l-5.806-3.875a6.25 6.25 0 0 1-2.594-6.713l2.5-9.993zm12.5 0h-6.25v5.862a6.25 6.25 0 0 1-.187 1.52l-2.5 9.987 5.812 3.875 5.806-3.875-2.5-9.988a6.25 6.25 0 0 1-.181-1.519z" style="stroke-width:6.25;fill:#212529;fill-opacity:1"/><path d="M62.582 25v6.25h-6.25v6.25h6.25v6.25h-6.25V50h6.25v6.25h-9.375V50h-6.25v-6.25h6.25V37.5h-6.25v-6.25h6.25V25h9.375z" style="stroke-width:6.25;fill:#212529;fill-opacity:1"/></svg>
				</div>
				<h1 class="display-5 fw-bold">Welcome to your new favourite favicon generator</h1>
				<div class="col-lg-6 mx-auto">
					<p class="lead mb-4">Quickly and easily generate a .zip file containing your favicons of different sizes and formats and the corresponding code.</p>
				</div>
			</div>
		</div>
	</div>
	<noscript>
		<div class="container">
			<div class="alert alert-danger fade show">
				<i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
				Please enable JavaScript to use
				{{ app_name }}.
			</div>
		</div>
	</noscript>
	<div class="container" id="use-js">
		{% for message in app.flashes("generator_error") %}
			<div class="alert alert-danger alert-dismissible fade show">
				<i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		{% for messages in app.flashes("form_error") %}
			<div class="alert alert-danger alert-dismissible fade show">
				<i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
				{% for message in messages %}
					{{ message }}<br>
				{% endfor %}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div id="successAlert"></div>
		<div class="d-flex mb-3 align-items-center">
			<div>
				<button type="button" class="btn btn-primary btn-sm" onclick="window.location.reload();">
					<i class="bi bi-arrow-clockwise bi-fw" aria-hidden="true"></i>
				</button>
			</div>
			<div class="ms-auto">
				<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#settings">
					<i class="bi bi-gear-fill bi-fw" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		{{ form_start(faviconForm, {"action": path("app_generate"), "method": "POST"}) }}
		{{ form_widget(faviconForm.drop) }}
		<div class="d-flex justify-content-center flex-column mt-3">
			{{ form_row(faviconForm.submit) }}
		</div>
	</div>
	<div class="modal fade py-5" tabindex="-1" role="dialog" aria-labelledby="settingsLabel" aria-hidden="true" data-bs-keyboard="false" id="settings">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content rounded-6 shadow">
				<div class="modal-header border-bottom-0">
					<h5 class="d-flex modal-title align-items-center" id="settingsLabel">Settings</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body py-0">
					{{ form_row(faviconForm.fortyEightIco) }}
					{{ form_row(faviconForm.sixtyFourIco) }}
					{{ form_row(faviconForm.android) }}
					<div class="collapse m-3" id="collapseAndroid">
						<div class="mb-3">
							{{ form_row(faviconForm.appName) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.shortAppName) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.language) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.startUrl) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.themeColour) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.backgroundColour) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.display) }}
						</div>
					</div>
					{{ form_row(faviconForm.apple) }}
					{{ form_row(faviconForm.ms) }}
					<div class="collapse m-3" id="collapseMs">
						<div class="mb-3">
							{{ form_row(faviconForm.tileColour) }}
						</div>
					</div>
				</div>
				<div class="modal-footer flex-column border-top-0">
					<button type="button" class="btn btn-primary btn-lg w-100 mx-0" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{{ form_row(faviconForm.downloadToken) }}
	{{ form_end(faviconForm) }}
{% endblock %}
