{% extends "_base.html.twig" %}

{% block title %}
	Your Favicon Generator for perfect icons on all devices
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-3">
			<div class="col d-flex flex-column align-items-start gap-2">
				<h2 class="fw-bold text-body-emphasis">Welcome to your new favourite Favicon Generator</h2>
				<p class="text-body-secondary">Quickly and easily generate a .zip file containing your favicons of different sizes and formats and the corresponding code.</p>
			</div>

			<div class="col">
				<div class="row row-cols-1 g-4">
					<noscript>
						<div class="container">
							<div class="alert alert-danger">
								<i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
								Please enable JavaScript to use
								{{ app_name }}.
							</div>
						</div>
					</noscript>
					<div class="container" id="use-js">
						{% for message in app.flashes("generator_error") %}
							<div class="alert alert-danger alert-dismissible fade show">
								<i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endfor %}
						{% for messages in app.flashes("form_error") %}
							<div class="alert alert-danger alert-dismissible fade show">
								<i class="bi bi-exclamation-triangle-fill" aria-hidden="true"></i>
								{% for message in messages %}
									{{ message }}<br>
								{% endfor %}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endfor %}
						<div id="successAlert"></div>
						<div class="d-flex mb-3 align-items-center">
							<div>
								<button type="button" class="btn btn-secondary btn-sm" onclick="window.location.reload();">
									<i class="bi bi-arrow-clockwise bi-fw" aria-hidden="true"></i>
								</button>
							</div>
							<div class="ms-auto">
								<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#settings">
									<i class="bi bi-gear-fill bi-fw" aria-hidden="true"></i>
								</button>
							</div>
						</div>
						{{ form_start(faviconForm, {"action": path("app_generate"), "method": "POST"}) }}
						{{ form_widget(faviconForm.drop) }}
						<div class="d-flex justify-content-center flex-column mt-3">
							{{ form_row(faviconForm.submit) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h2 class="pb-2 border-bottom">Your favourite Favicon Generator</h2>
		<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-hand-thumbs-up-fill"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Easy to use</h3>
					<p>favicon.zip has been designed to be as easy to use as possible while offering an excellent user experience. Drag and drop your image, set the generation parameters, it's that simple.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-gear-fill"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Adjust Favicon Generation</h3>
					<p>Use the settings window to choose the different types of favicon you want: add some that are no longer required for greater compatibility, set the favicon for Chrome/Android and their manifest, and much more.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-code-slash"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Code Generation</h3>
					<p>favicon.zip automatically generates the code to be inserted into your website for easy integration!</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-braces"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Manifest Generation</h3>
					<p>When you activate favicon generation for Chrome/Android, favicon.zip helps you create the webmanifest needed for the modern Web.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-download"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Easy Downloading</h3>
					<p>Your favicons of different sizes and formats and the corresponding code are added in a .zip file for easy downloading: this website is aptly named!</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-shield-shaded"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Privacy</h3>
					<p>favicon.zip does not use trackers and your images are automatically deleted once your favicons have been generated.</p>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<h2 class="pb-2 border-bottom">OK, favicon.zip is great, but what is a favicon?</h2>
		<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-question-circle-fill"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">What is a favicon?</h3>
					<p>A favicon, short for "favorite icon", is a small, distinctive icon associated with a website or web page. Typically displayed in the browser's address bar, tabs, and bookmarks, favicons serve as a visual representation of the website and help users easily identify and differentiate between various open tabs.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-search"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Branding and Recognition</h3>
					<p>Favicons serve as a visual extension of a website's branding. By incorporating a logo or a recognizable symbol into the favicon, websites can reinforce their identity and make it easier for users to recognize and remember them among a sea of open tabs.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-briefcase-fill"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Professionalism</h3>
					<p>Including a favicon in a website's design gives it a more polished and professional appearance. It shows that attention has been paid to even the smallest details, contributing to an overall positive impression of the website.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-person-check-fill"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">User Experience</h3>
					<p>Favicons contribute to a better user experience by providing visual cues. They help users quickly identify and navigate to the desired website among numerous open tabs, making the browsing process more efficient.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-bookmark-fill"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Bookmarking</h3>
					<p>When users bookmark a website, the favicon often appears alongside the website's name in the bookmarks list. This visual element makes the list more visually appealing and aids users in locating their desired bookmarks more easily.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-segmented-nav"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Tab Management</h3>
					<p>In modern browsers, favicons are displayed on individual tabs. This helps users distinguish between multiple open tabs at a glance, especially when they have several tabs open simultaneously.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-graph-up-arrow"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">SEO and Credibility</h3>
					<p>While not a direct ranking factor, having a favicon can indirectly contribute to a website's credibility and user engagement. Users tend to trust and click on websites with recognizable and consistent branding elements.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-phone-fill"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Cross-Platform Consistency</h3>
					<p>Favicons ensure a consistent branding experience across various platforms and devices, ranging from desktops to smartphones and tablets.</p>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-universal-access-circle"></i>
				</div>
				<div>
					<h3 class="fs-2 text-body-emphasis">Accessibility</h3>
					<p>Some assistive technologies and screen readers can use favicons to provide additional context to users, enhancing the accessibility of the website.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade py-5" tabindex="-1" role="dialog" aria-labelledby="settingsLabel" aria-hidden="true" data-bs-keyboard="false" id="settings">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content rounded-6 shadow">
				<div class="modal-header border-bottom-0">
					<h5 class="d-flex modal-title align-items-center" id="settingsLabel">Settings</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body py-0">
					{{ form_row(faviconForm.fortyEightIco) }}
					{{ form_row(faviconForm.sixtyFourIco) }}
					{{ form_row(faviconForm.android) }}
					<div class="collapse m-3" id="collapseAndroid">
						<div class="mb-3">
							{{ form_row(faviconForm.appName) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.shortAppName) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.language) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.startUrl) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.themeColour) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.backgroundColour) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.display) }}
						</div>
					</div>
					{{ form_row(faviconForm.apple) }}
					{{ form_row(faviconForm.ms) }}
					<div class="collapse m-3" id="collapseMs">
						<div class="mb-3">
							{{ form_row(faviconForm.tileColour) }}
						</div>
						<div class="mb-3">
							{{ form_row(faviconForm.tilePadding) }}
						</div>
					</div>
				</div>
				<div class="modal-footer flex-column border-top-0">
					<button type="button" class="btn btn-secondary btn-lg w-100 mx-0" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{{ form_row(faviconForm.downloadToken) }}
	{{ form_end(faviconForm) }}
{% endblock %}
